/* universal */
*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
/* body */
body{
    background-image: url('images/sun.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
/* main div */
.app-main{
    width: 60vh;
    margin: 100px auto;
    background-color: rgba(227, 230, 231, 0.6);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.app-main>*{
    margin-bottom:20px;
}
/* search box */
.input-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 10px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    color: #582233;
}
/* focus part on search box */
.input-box:focus{
    background-color: rgba(255, 255, 255);
}
/* puter div date and location style */
.weather-body{
    display: none;
    color: #582233;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.6);
}
/* inner div date and time */
.location-details{
    font-weight: 400;
    font-size: 1.2rem;
}
/*outer div min and max part   */
.weather-status{
    padding: 20px;
}
/* inner div min and max part  */
.temp{
    font-size: 3.4rem;
    font-weight: 700;
    margin: 20px 0;
   text-shadow: 2px 4px rgba(0,0,0,0.3);
}
/*min and max,weather */
.min-max,.weather{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}
